.project-section {
    padding-top: 10px;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.project-container {
    margin: 20px;
    background-color: rgba(231, 146, 131, 0.363);
    color: black;
    font-family: 'Poppins', 'sans-serif';
}
.project-container > h2 {
    font-size: 18px;
    padding: 5px 0 0 0;
    text-align: center;
}

.project-container > h3 {
    font-size: 14px;
    padding: 10px;
}

.project-section .swiper-button-prev::after, .project-section .swiper-button-next::after {
    font-size: 30px;
    color: #000;
    transition: 2s;
}

.project-section .swiper-button-prev, .project-section .swiper-button-next {
    transition: 0.4s;
}
@media screen and (min-width:100px){
    .text-container img {
        height: 370px;
        width: 100%;
            
    }
}

@media (max-width: 960px) {
    .project-container {
        margin: 20px 0;
        background-color: #2A2C39;
        color: #fff;
        font-family: 'Poppins', 'sans-serif';
    }
}