
.App {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  background-color: rgba(116, 113, 113, 0.384);
  font-weight: 600;
}
hr{
  width: 70%;
  margin-left: 13%;
  color: rgb(83, 31, 22);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}


